%main.container
  %section.table-responsive.col-md-6
    %table.table
      %thead
        %tr
          %th= @company.name
        %tr
          %td Ticker Code
          %td= @company.tickerCode
        %tr
          %td Latest Price
          %td= @details["latestPrice"]
        %tr
          %td As Of
          %td= @details["asOf"]
        %tr
          %td Latest Stories
          %td N/A
